.programmer {
    background-image: url('/assets/img/programmer.svg');
    background-size: 100% 100%;
    height: 66vh;
    /* width: 100%; */
    background-repeat: no-repeat;
}

@media screen and (max-width: 1600px) {
    .programmer {
        height: 33vh;
    }
  }