


.carousel-item h4 {
    height: 100px;
}
.tile{
    /* background-color: blue; */
    height: 400px;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid black; 
    border-radius: 5px;   
}
.tile .portret {
    height: 70%;
    border-bottom: 1px solid black;
    /* background-color: green; */
}
.tile .personInfo{
    height: 30%;
    padding-top: 30px;
}
.photo img {
    height: 150px;
    border-radius: 50%;
    margin-top: 50px;
}
.tile .name{
    font-size: 16px;
    font-weight: 900;
}
.overlay{
    background-color: #350f8e;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    color: #fff;
}
.overlay:hover{
    opacity: 0.8;
    transition: 2s;
}
.overlay:hover ~ .personInfo{
    opacity: 0.8;
    transition: 2s;
    color: blue;
}
.overlay .textInfo {
    position: relative;
    top: 50%;
    padding: 0 50px;
}
.overlay .techstack {
    padding-top: 5px;
    font-size: smaller;
}
.tile:hover > .personInfo{
    opacity: 0.5;
}
.contactText{
    padding-left: 20px;
    position: absolute;
}
.contact{
    padding: 50px 0;
    border: 1px solid black;
    border-radius: 5px;
}
.labelForm{
    position: relative;
    background-color: #fff;
    top: 15px;
    padding: 0 5px;
}
.borderLine {
    border-top: 1px solid black;
    padding: 5px 0;
} 
.logo{
    height: 50px;
    top: 0;
    position: absolute; 
    transition-duration: 2s;
}
.navbar-transparent .logo{
    height: 150px;
    transition-duration: 2s;
}

@media (min-width: 2048px){
    .carousel{
        position: absolute;
        top: 300px;
    }
    .carousel-item {
        min-width: 600px;
    }

}
@media (max-width: 2048px) {
    .carousel{
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2px);
    }
}
@media (max-width: 768px){
    .navbar-transparent .logo{
        height: 80px;
    }
} 